* {
    margin: 0;
    padding: 0;
}
.div__container{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80757a9, #bc4e9d9f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80757a9, #bc4e9d9f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    width: 100%; height: 1400px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 60% 20%;
}

body {
    background: none;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
}

nav{
    text-align: right;
    padding: 50px 15px 0px 10px;
    font-family: sans-serif;
}

nav > a{
    color: white;
    font-weight: 900;
    text-decoration: none;
    margin-right: 15px;
}

nav > a:hover{
    text-decoration: underline;
}

.header__img {
    width: 300px; height: 200px;
    border-radius: 200px;
    float: left;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 590px;
}

aside {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
}

.p__aside{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}
.p__aside2{
    font-size: 200%;
}

main {
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;
}

main .main__h3 {
    display: block;
    margin: auto;
}

main ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 200px;
    margin-left: 50px;
}

main li{
    width: 150px; height: 200px;
    list-style: none;
}

main img {
    width: 200px; height: 250px;
}

footer {
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-column: 1/4;
    grid-row: 3/4;
}

.footer{
    height: 200px;
    padding: 5px;   
}

.footer__li{
    list-style: none;
    margin: 10px;
    width: 200px;
}

.footer a{
    width: 100px;
    background: inherit;
}

.footer i{
    font-size: 22px;
    background: inherit;
}

.footer ul{
    padding-top: 4%;
}


.btn-flotante {
	font-size: 20px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: none; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 100px; /* Borde del boton */
	letter-spacing: px; /* Espacio entre letras */
	background-color: mediumpurple; /* Color de fondo */
	padding: 28px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 2%;
	right: 1%;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.btn-flotante:hover {
	background-color: lightsalmon; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 19px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}